<%- include('../port/layout-start') %>
<%- include('../port/menu') %>

<h1><%= title %></h1>
<form action="/book/create" method="POST" enctype="multipart/form-data">
  <%- include('form', { book: {} }) %>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

<%- include('../port/layout-end') %>
